{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
  <div class="hero-body-narrow">


      {% if not user.active %}
      <div class="paymewrap">
        <h3>Activate service for just 5$ per month</h3>
        <form action="/charge" method="post">
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ user.key }}"
            data-description="Test data" data-amount="500" data-locale="auto">
            </script>
        </form>
      </div>
      {% endif %}
      {% if user.active %}
      <div class="substatus">Subscription activated</div>
      <div class="camerawrap">
        <div class="preloader">
          <div class="preloader_desc">Loading object detector</div>
          <div class="loader">
          </div>
        </div>
        <div class="caminfo" style="display: none;">
          <div id="console">
            <div id="object"></div>
            <div id="probability"></div>
          </div>
          <video autoplay playsinline muted id="webcam" width="400" height="400"></video>
        </div>

        <script src="https://unpkg.com/@tensorflow/tfjs"></script>
        <script src="https://unpkg.com/@tensorflow-models/mobilenet"></script>
        <script src="../static/js/webcam.js"></script>

      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
