{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
    <div class="paymewrap">
      <h3>Monthly service for $5.00</h3>
      {% if not user.active %}
      <form action="/charge" method="post">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ user.key }}"
          data-description="Test data" data-amount="500" data-locale="auto">
          </script>
      </form>
      {% endif %}
      {% if user.active %}
      <div>Subscription activated</div>
      {% endif %}
    </div>
    <div>
      {% if user.active %}
      <center>
      <div id="console"></div>
      <!-- Add an image that we will use to test -->
      <video autoplay playsinline muted id="webcam" width="300" height="300"></video>
      <div style="color:darkgreen;font-size:80px; margin-top:20px" id="forsure"></div>
      <!-- Load index.js after the content of the page -->
      <script src="../static/js/webcam.js"></script>
      </center>
      {% endif %}
      {% if not user.active %}
      <div><span>Activate subscription with payment</span></div>
      {% endif %}
      <div class="image-section" style="display:none;">
        <div>
          <button type="button" class="upload-label" id="btn-predict">Optimize Discount</button>
        </div>
      </div>
    </div>
    <div class="loader" style="display:none;"></div>
    <h1 id="result">
      <span> </span>
    </h1>
    <div style="padding-top: 40px">
      <span>format example:</span>
    </div>
    <img src="../static/img/example.jpg" alt="">
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
